
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    outline: 2px solid ;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 20px;
    font-family: sans-serif;
    padding: 20px;
    background-color: #212121;
}

.header-conteiner{
    margin: 20px;
    flex-grow: 1;
    font-size: 30px;
}

.conteiner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

nav{
    flex-grow: 2;  
}

.nav-ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    gap: 40px;
}

.li-a{
    text-decoration: none;
    color: #212121;
}


section{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    text-align: center;
}

section h1{
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #212121;
}

section p{
    text-align: justify;
}

a{
text-decoration: none;
color: #212121;
}

img{
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    animation: girar 8s linear infinite;
}

@keyframes girar {
    to{
        transform: rotate(360deg);
    }
    
}


@media (max-width: 768px) {
    .conteiner{
        text-align: center;
        align-items: center;
    }
    .nav-ul{
        
        align-items: center;
    }
    
}

@media (max-width: 1000px){

}

